trigger:
- main

variables:
  buildConfiguration: 'Release'

stages:
# =========================
# BUILD STAGE
# =========================
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Build .NET Application'
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: DotNetCoreCLI@2
      displayName: 'Restore NuGet Packages'
      inputs:
        azureSubscription: 'azure-terraform-sp'
        command: 'restore'
        feedsToUse: 'select'

    - task: DotNetCoreCLI@2
      displayName: 'Build Application'
      inputs:
        azureSubscription: 'azure-terraform-sp'
        command: 'build'
        arguments: '--configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Publish Application'
      inputs:
        azureSubscription: 'azure-terraform-sp'
        command: 'publish'
        publishWebProjects: true
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Build Artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

# =========================
# DEPLOY STAGE
# =========================
- stage: Deploy
  displayName: 'Deploy to Azure App Service'
  dependsOn: Build
  condition: succeeded()

  jobs:
  - job: DeployJob
    displayName: 'Deploy Web App'
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'drop'
        downloadPath: '$(System.DefaultWorkingDirectory)'

    - task: AzureWebApp@1
      inputs:
        azureSubscription: 'azure-terraform-sp'
        appType: 'webApp'
        appName: 'online-calculator-app'
        package: '$(System.DefaultWorkingDirectory)/drop/**/*.zip'











# variables:
#   buildConfiguration: 'Release'

# steps:
# - script: dotnet build --configuration $(buildConfiguration)
#   displayName: 'dotnet build $(buildConfiguration)'
# - task: DotNetCoreCLI@2
#   inputs:
#     azureSubscription: 'azure-terraform-sp'
#     command: 'publish'
#     publishWebProjects: true
# - task: AzureWebApp@1
#   inputs:
#     azureSubscription: 'azure-terraform-sp'
#     appType: 'webApp'
#     appName: 'online-calculator-app'
#     package: '$(System.DefaultWorkingDirectory)/**/*.zip'
#     deploymentMethod: 'auto'
